body {
    min-height: 1000;
}

#beranda {
    margin-top: 8rem;
}

#fitur {
    margin-top: 15rem;
    min-height: 800px;
}

#tentang {
    margin-top: 10rem;
    min-height: 600px;
}

#kontak {
    min-height: 500px;
}

.img-fluid {
    max-width: 26rem;
}

.img-fluidd {
    max-width: 100%;
}

.issi {
    color: black;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 0vmax;
}